@model Evaproject2.Models.Inscripcion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inscripcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParticipanteID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ParticipanteID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoInscripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoInscripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PdfProyecto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PdfProyecto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Convocatoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Convocatoria.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
