@model IEnumerable<Evaproject2.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pwd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Domicilio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CodigoPostal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FNacimiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NivelEstudios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CampoEstudios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FC)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FM)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelEstudios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CampoEstudios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FM)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
